.avatar {
  --avatar-size: 7.5rem;
  --avatar-bg: var(-border-color-light);
  position: relative;
  width: var(--avatar-size);
  height: var(--avatar-size);
  font-size: calc(var(--avatar-size) / 2.8571428572);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #626976;
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--avatar-bg) no-repeat center/cover;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  vertical-align: bottom;
  stroke-width: 1.5;
  margin-right: 0.3rem;
}

.hr {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.6;
  color: #626976;
  height: 1px;
}
